<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.services.products.ihelp.dao.mapper.ServiceCancelApplicationMapper">
  <resultMap id="BaseResultMap" type="com.services.products.ihelp.dao.domain.ServiceCancelApplication">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="service_id" jdbcType="BIGINT" property="serviceId" />
    <result column="service_application_id" jdbcType="BIGINT" property="serviceApplicationId" />
    <result column="service_cancel_reason_id" jdbcType="INTEGER" property="serviceCancelReasonId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, service_id, service_application_id, service_cancel_reason_id, description, images, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplicationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_cancel_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_cancel_application
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from service_cancel_application
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplicationExample">
    delete from service_cancel_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplication">
    insert into service_cancel_application (id, service_id, service_application_id, 
      service_cancel_reason_id, description, images, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{serviceId,jdbcType=BIGINT}, #{serviceApplicationId,jdbcType=BIGINT}, 
      #{serviceCancelReasonId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplication">
    insert into service_cancel_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="serviceApplicationId != null">
        service_application_id,
      </if>
      <if test="serviceCancelReasonId != null">
        service_cancel_reason_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="serviceApplicationId != null">
        #{serviceApplicationId,jdbcType=BIGINT},
      </if>
      <if test="serviceCancelReasonId != null">
        #{serviceCancelReasonId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplicationExample" resultType="java.lang.Long">
    select count(*) from service_cancel_application
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update service_cancel_application
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.serviceId != null">
        service_id = #{record.serviceId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceApplicationId != null">
        service_application_id = #{record.serviceApplicationId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceCancelReasonId != null">
        service_cancel_reason_id = #{record.serviceCancelReasonId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.images != null">
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update service_cancel_application
    set id = #{record.id,jdbcType=BIGINT},
      service_id = #{record.serviceId,jdbcType=BIGINT},
      service_application_id = #{record.serviceApplicationId,jdbcType=BIGINT},
      service_cancel_reason_id = #{record.serviceCancelReasonId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      images = #{record.images,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplication">
    update service_cancel_application
    <set>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="serviceApplicationId != null">
        service_application_id = #{serviceApplicationId,jdbcType=BIGINT},
      </if>
      <if test="serviceCancelReasonId != null">
        service_cancel_reason_id = #{serviceCancelReasonId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.services.products.ihelp.dao.domain.ServiceCancelApplication">
    update service_cancel_application
    set service_id = #{serviceId,jdbcType=BIGINT},
      service_application_id = #{serviceApplicationId,jdbcType=BIGINT},
      service_cancel_reason_id = #{serviceCancelReasonId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>