<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.services.products.ihelp.dao.mapper.my.MyServiceOrderCollectMapper">
    <resultMap id="BaseResultMap" type="com.services.products.ihelp.dao.domain.ServiceOrderCollect">
        <id column="service_order_id" jdbcType="BIGINT" property="serviceOrderId" />
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <select id="isOrderCollectedByUser" resultType="object">
        select 1
        from `service_order_collect`
        where service_order_id = #{orderId}
        and user_id = #{userId}
        limit 1
    </select>
</mapper>